@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
        primary: #007ae0,
        accent: lighten(#0ccef7, 20%),
        theme: light
));

@import "~vue-material/dist/theme/all"; // Apply the theme

.prp-success {
  color: white !important;
  background: #00C851 !important;
}

.prp-success-icon {
  color: white !important;
}

.prp-danger {
  color: #ff4444 !important;
}

.prp-toolbar {
  background: linear-gradient(90deg, rgb(0, 122, 224) 0%, rgb(12, 206, 247) 100%);
}

.prp-home {
  height: 100vh;
}


